*, *::after, *::before{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #3f3f44;
    display: grid;
    justify-content: center;
    align-items:center
}

li{
    list-style: none;
}
    .container{
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    border: 1px solid #ffc38b;
    box-shadow: 0px 0px 8px 1px rgb(252, 250, 250);
    }

        #board{
            width: 500px;
            height: 500px;
            border:1px solid #ff926b;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap:10px;
            padding:10px;
            background-color: #ff926b;
            
        }

            .cell{
                background-color: #3f3f44;
                position: relative;
                border:1px solid #ff926b;
                display: flex;
                justify-content: center;
                align-items:center;
                color:white;
                cursor: pointer;
            }


            /* X-CLASS ------------------------------------------------------------------*/
            .cell.x,
            .cell.circle{
                cursor: not-allowed;
            }

            .cell.cell.x::before,
            .cell.x::after
            {
                background-color: #fff3cd;
               
            }
            .cell.circle::before,
            .cell.circle::after{
                border: 2px solid #fff3cd;
            }


            

            .board.x .cell:not(.x):not(.circle):hover::before,
            .board.x .cell:not(.x):not(.circle):hover::after,
            .board.circle .cell:not(.x):not(.circle):hover::before,
            .board.circle .cell:not(.x):not(.circle):hover::after{
                background-color: lightgrey;    
            }

            .cell.x::before,
            .cell.x::after,
            .board.x .cell:not(.x):not(.circle):hover::before,
            .board.x .cell:not(.x):not(.circle):hover::after{
                content: "";
                position: absolute;
                width: 15px;
                height: 90%;
            }

            .cell.x::before,
            .board.x .cell:not(.x):not(.circle):hover::before{
                transform: rotate(45deg);
            }

            .cell.x::after,
            .board.x .cell:not(.x):not(.circle):hover::after{
                transform: rotate(-45deg);
            }



         /* CIRCLE-CLASS ------------------------------------------------------------------*/


            .board.circle .cell:not(.x):not(.circle):hover::before,
            .board.circle .cell:not(.x):not(.circle):hover::after{
                background-color: lightgrey;
                
        }
            .cell.circle::before,
            .cell.circle::after,
            .board.circle .cell:not(.x):not(.circle):hover::before,
            .board.circle .cell:not(.x):not(.circle):hover::after{
                content: "";
                position: absolute;
                border-radius: 50%;
               
            }

            .cell.circle::before,
            .board.circle .cell:not(.x):not(.circle):hover::before{
                width: 80%;
                height: 80%;
            }

            .cell.circle::after,
            .board.circle .cell:not(.x):not(.circle):hover::after{
                width: 65%;
                height: 65%;
                background-color:#3f3f44;
            }

    .displayContainer{
        width: 100%;
        height: 600px;
        border-radius: 3px;
        background-color: #ffc38b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .timer{

    }

    .counter{

    }

    .restart{
        display: inline-block;
        background-color: #3f3f44;
        color: #ffc38b;
        padding: 1rem;
        margin-top: 1rem;
        transition: 0.2s;
        border-radius: 5px;
    }
    .restart:hover{
        background-color: #ffc38b;
        color:  #3f3f44;
        border: 1px solid #3f3f44 ;
        cursor: pointer;

    }

    #win-msg{

    }

   